@charset "utf-8";
/* CSS Document */


/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 465px;
	background: transparent;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content
{
	position: absolute;
	bottom: 196px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.home_title
{
	font-size: 72px;
	font-weight: 800;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
6. Blog
*********************************/

.blog
{
	padding-top: 108px;
	padding-bottom: 108px;
}
.blog_post_container
{
	width: 100%;
}
.blog_post:not(:last-child)
{
	margin-bottom: 74px;
}
.blog_post_image img
{
	width: 100%;
    box-shadow: 3px 3px 6px #eee;
    border-radius: 10px;
}
.blog_post_date
{
	position: absolute;
	top: 30px;
	left: 27px;
	width: 114px;
	height: 74px;
	border-radius: 37px;
	background: #fa9e1b;
}
.blog_post_day
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1;
}
.blog_post_month
{
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 3px;
}
.blog_post_meta
{
	margin-top: 32px;
}
.blog_post_meta_item
{
	display: inline-block;
	position: relative;
	margin-right: 27px;
}
.blog_post_meta_item:last-child
{
	margin-right: 0px;
}
.blog_post_meta_item::after
{
	display: block;
	position: absolute;
	top: 7px;
	right:-15px;
	width: 1px;
	height: 12px;
	background: #929191;
	content:'';
}
.blog_post_meta_item:last-child::after
{
	display: none;
}
.blog_post_meta_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #929191;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_meta_item a:hover
{
	color: #2b2b2b;
}
.blog_post_title
{
	margin-top: 5px;
}
.blog_post_title a
{
	font-size: 24px;
	font-weight: 600;
	color: #2b2b2b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_title a:hover
{
	color: #fa9e1b;
}
.blog_post_text
{
	margin-top: 19px;
}
.blog_post_text p
{
	color: #929191;
	line-height: 2.14;
}
.blog_post_text p:last-of-type
{
	margin-bottom: 0px;
}
.blog_post_link
{
	margin-top: 32px;
}
.blog_post_link a
{
	font-size: 14px;
	font-weight: 700;
	color: #fa9e1b;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_link a:hover
{
	color: #361f5d;
}
.blog_navigation
{
	margin-top: 100px;
}
.blog_dot
{
	display: inline-block;
	position: relative;
	height: 35px;
	line-height: 35px;
	color: #2b2b2b;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_dot:hover
{
	color: #fa9e1c;
}
.blog_dot:hover.active div
{
	border-color: #fa9e1c;
}
.blog_dot.active
{
	padding-left: 13px;
	padding-right: 9px;
	margin-right: 3px;
	color: #fa9e1c;
}
.blog_dot div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px transparent;
	border-radius: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_dot.active div
{
	border: solid 2px #fa9e1c;
}


.sidebar_title
{
	font-size: 18px;
	font-weight: 600;
	color: #404551;
}

.gallery_container
{
	margin-top: 42px;
}
.gallery_item
{
	width: calc((100% - 18px) / 3);
	margin-bottom: 9px;
}
.gallery_item img
{
	width: 100%;
}

/*********************************
8. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 113px;
	padding-bottom: 104px;
	background: #31124b;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
8.1 Footer - About
*********************************/

.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}

/*********************************
8.2 Footer - Blog
*********************************/

.footer_blog
{
	margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #fa9e1b;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color: #fa9e1b;
	margin-top: 7px;
}

/*********************************
8.3 Footer - Tags
*********************************/

.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	border: solid 1px #fa9e1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag_item:hover
{
	background: #fa9e1b;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
	padding-right: 25px;
}

/*********************************
8.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

/*********************************
9. Copyright
*********************************/

.copyright
{
	background: #1f0733;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
}
.footer_nav_container
{
	height: 52px;
}
.footer_nav
{
	
}
.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}